:host {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  flex: 1;
}

#footer{
    text-align: center;
    border-top:1px solid var(--border); 
    color:var(--subtext);
    padding:22px 0; 
    margin-top:28px;
    background-color: rgb(255, 255, 255);
}